.DS_Store
.AppleDouble
.LSOverride

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

dist/
build/
main.spec

__pycache__/
*.py[cod]
*$py.class

resources/fonts/*

!resources/fonts/arialroundedmtbold.ttf
!resources/fonts/Bips.ttf
!resources/fonts/DIN Condensed.ttf
!resources/fonts/kodchasan.ttf

map/filling.json
*.txt

result.png
!example.env