.DS_Store
.AppleDouble
.LSOverride

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class

resources/fonts/arialroundedmtbold.ttf
resources/fonts/Bips.ttf
resources/fonts/DIN Condensed.ttf
resources/fonts/kodchasan.ttf

resources/demo/result.png
*.txt

result.png
!example.env
