@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{

background: #ffe603;
background: radial-gradient(circle,rgba(255, 230, 3, 1) 0%, rgba(255, 134, 20, 1) 50%, rgba(201, 237, 83, 1) 100%);

}

